body {
  font-family: 'PT Sans', sans-serif;
  background-color: #FFDEAD;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  color: #8B4513;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #8B4513;
  color: #f0f0f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  transition: background-color 0.3s ease, border-color 0.25s;
}

button:hover {
  background-color: #6B3C13;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cat-item {
  position: relative;
}

.cat-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 6px #8B4513;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cat-image:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90%;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.modal-image:hover {
  transform: scale(1.05);
}

.loading-text {
  text-align: center;
  color: #6B3C13;
  font-size: 30px;
  font-weight: bold;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
